@inject IMarkdown Markdown

<MudField @ref="MudFieldRef" Label="@Label" HelperText="@HelperText" Class="@Class" Variant="Variant">
	<div class="formatted-textarea" style="@GetStyles">
		@Markdown.GetMarkup(GetMarkdown)
		@if (FlipState)
		{
			<textarea @ref="TextareaRef" id="@FieldId" @oninput="ValueInput" placeholder="@Placeholder">@InternalValue</textarea>
		}
		else
		{
			<textarea @ref="TextareaRef" id="@FieldId" @oninput="ValueInput" placeholder="@Placeholder">@InternalValue</textarea>
		}
	</div>
</MudField>

@code {
	[Parameter]
	public string Class { get; set; } = string.Empty;
	[Parameter]
	public int MinHeight { get; set; } = 100;
	[Parameter]
	public string HelperText { get; set; } = string.Empty;
	[Parameter]
	public string Placeholder { get; set; } = string.Empty;
	[Parameter]
	public string Label { get; set; } = string.Empty;
	[Parameter]
	public string Value
	{
		get
		{
			return InternalValue;
		}
		set
		{
			if (value == InternalValue) { return; }
			InternalValue = value;
			FlipState = !FlipState;
		}
	}
	[Parameter]
	public EventCallback<string> ValueChanged { get; set; }
	[Parameter]
	public string CodeFormat { get; set; } = string.Empty;
	[Parameter]
	public Variant Variant { get; set; } = Variant.Outlined;

	private char EmptyFiller = '\0';

	private bool FlipState { get; set; }
	private string InternalValue { get; set; } = string.Empty;
	private string GetInternValueForPreview => InternalValue.Replace("````", $"`..`");
	private MudField? MudFieldRef { get; set; }
	private ElementReference? TextareaRef { get; set; }
	private string FieldId => MudFieldRef?.FieldId ?? string.Empty;
	private string GetStyles => $"min-height: {MinHeight}px";

	private int MessageLines { get; set; } = 1;
	private string GetMarkdown => $@"
````{CodeFormat}
{GetInternValueForPreview}
````
".Trim();

	protected override Task OnInitializedAsync()
	{
		return base.OnInitializedAsync();
	}

	private async Task ValueInput(ChangeEventArgs args)
	{
		InternalValue = args.Value?.ToString() ?? string.Empty;
		await ValueChanged.InvokeAsync(InternalValue);
	}
}
