@inherits BUICore

<BUIPaper PaperType="PaperTypes.FlexRow" Class="bui-footer justify-center align-center mud-theme-dark gap-1 pr-5" Elevation="0" Squared="true">
	<MudSpacer />
	<span>
		<MudIcon Icon="@Icons.Material.Rounded.Copyright" Color="Color.Inherit" Class="" />
		<span> @CopyrightYears by </span>
		@if (string.IsNullOrWhiteSpace(AppOptions.CompanyHomeUrl))
		{
			@AppOptions.CompanyName
		}
		else
		{
			<BUILink Href="@AppOptions.CompanyHomeUrl">
				@AppOptions.CompanyName
			</BUILink>
		}
		<span> All rights reserved</span>
	</span>
	<MudSpacer />
	<span>
		<span>Powered by</span>
        <BUILink Href="https://blazorui.stoicdreams.com" Title="@LinkTitle">Blazor UI</BUILink>
	</span>
</BUIPaper>

@code {
    private short CurrentYear => Convert.ToInt16(DateTime.UtcNow.Year);
    private MarkupString CopyrightYears => new MarkupString($"{(AppOptions.CopyrightStart < CurrentYear ? $"{AppOptions.CopyrightStart}-{CurrentYear}" : AppOptions.CopyrightStart.ToString())}");
    private string LinkTitle => $"Blazor UI version {FrameworkVersion}";
    private static readonly string FrameworkVersion = TrimVersion(typeof(BUIApp).Assembly.GetName()?.Version?.ToString() ?? "");
    private static string TrimVersion(string version)
    {
        string[] segments = version.Split('.');
        if (segments.Length <= 3) { return version; }
        return string.Join('.', segments[0..3]);
    }
}
