@inherits BUICore

<BUIPaper PaperType="PaperTypes.FlexRow" Class="bui-footer justify-center align-center mud-theme-dark gap-1 pr-5" Elevation="0" Squared="true">
	<MudSpacer />
	<span>
		<MudIcon Icon="@Icons.Material.Rounded.Copyright" Color="Color.Inherit" Class="mr-1" />
		<span> @(DateTime.UtcNow.Year) by </span>
		@if (string.IsNullOrWhiteSpace(AppOptions.CompanyHomeUrl))
		{
			@AppOptions.CompanyName
		}
		else
		{
			<BUILink Href="@AppOptions.CompanyHomeUrl">
				@AppOptions.CompanyName
			</BUILink>
		}
		<span> All rights reserved</span>
	</span>
	<MudSpacer />
	<span>
		<span>Powered by</span>
		<BUILink Href="https://blazorui.stoicdreams.com">Blazor UI</BUILink>
	</span>
</BUIPaper>

@code {

}
